<div id="header">
    <h1 id="logo"><a href="#">MovieHunter</a></h1>
    <div id="navigation">
      <ul>
        <li><a class="active" href="{% url 'movie:movie-list' %}">HOME</a></li>
        <li><a href="#">NEWS</a></li>
      </ul>
    </div>
    <div id="sub-navigation">
      <ul>
        <li><a href="{% url 'movie:movie-list' %}">SHOW ALL</a></li>
        <li><a href="{% url 'movie:movie-recent-list' %}">RECENTLY ADDED</a></li>
        <li><a href="{% url 'movie:movie-most-list' %}">TOP RATED</a></li>
        <li><a href="{% url 'movie:movie-top-list' %}">MOST COMMENTED</a></li>
      </ul>
      <div id="search">
        <form action="#" method="get" accept-charset="utf-8">
          <label for="search-field">SEARCH</label>
          <input type="text" name="search field" value="Enter search here" id="search-field" class="blink search-field"  />
          <input type="submit" value="GO!" class="search-button" />
        </form>
      </div>
    </div>
  </div>