{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div id="main">
        {% if movie_category %}


            {% for movie in object_list %}
                <div class="movie">
                    <div class="movie-image" style="margin-right: 20px">
                        <a href="{% url 'movie:movie-detail' movie.pk %}">
                            <img src="{{ movie.image.url }}" alt="{{ movie.title }}"/></a></div>
                </div>

            {% endfor %}
        {% endif %}
        <div id="content">
            {% if recent %}
                <div class="box">
                    <div class="head">
                        <h2>RECENTLY ADDED</h2>
                        <br/>
                        <p class="text-right">{% if top or most %}
                            <a href="{% url 'movie:movie-recent-list' %}">See all</a>{% endif %}</p>
                    </div>
                    {% for movie in recent %}
                        <div class="movie">
                            <div class="movie-image">
                                {#              <span class="play"><span class="name">{{ movie.title }}</span></span>#}
                                <a href="{% url 'movie:movie-detail' movie.pk %}">
                                    <img src="{{ movie.image.url }}" alt="{{ movie.title }}"/></a></div>
                            <div class="rating">
                                <p>RATING</p>
                                <div class="stars">
                                    <div class="stars-in"></div>
                                </div>
                                <span class="comments">12</span></div>
                        </div>
                    {% endfor %}
                    <div class="cl">&nbsp;</div>
                </div>
            {% endif %}
            {% if top %}


                <div class="box">
                <div class="head">
                    <h2>TOP RATED</h2>
                    <br/>
                    <p class="text-right">{% if recent or most %}
                        <a href="{% url 'movie:movie-top-list' %}">See all</a>{% endif %}</p>
                </div>
                {% for movie in top %}
                    <div class="movie">
                        <div class="movie-image">
                            {#              <span class="play"><span class="name">{{ movie.title }}</span></span>#}
                            <a href="{% url 'movie:movie-detail' movie.pk %}"><img src="{{ movie.image.url }}"
                                                                                   alt="{{ movie.title }}"/></a></div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"></div>
                            </div>
                            <span class="comments">12</span></div>
                    </div>
                {% endfor %}
                <div class="cl">&nbsp;</div>
            {% endif %}
            </div>
            {% if most %}
                <div class="box">
                <div class="head">
                    <h2>MOST COMMENTED</h2>
                    <br/>
                    <p class="text-right">{% if top or recent %}
                        <a href="{% url 'movie:movie-most-list' %}">See all</a>{% endif %}</p>
                </div>
                {% for movie in most %}
                    <div class="movie">
                        <div class="movie-image">
                            {#              <span class="play"><span class="name">{{ movie.title }}</span></span> <a href="#">#}
                            <a href="{% url 'movie:movie-detail' movie.pk %}"> <img src="{{ movie.image.url }}"
                                                                                    alt="{{ movie.title }}"/></a></div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in"></div>
                            </div>
                            <span class="comments">12</span></div>
                    </div>
                {% endfor %}

                <div class="cl">&nbsp;</div>
            {% endif %}
            </div>
        </div>
        {#        <div id="news">#}
        {#            <div class="head">#}
        {#                <h3>NEWS</h3>#}
        {#                <p class="text-right"><a href="#">See all</a></p>#}
        {#            </div>#}
        {#            <div class="content">#}
        {#                <p class="date">12.04.09</p>#}
        {#                <h4>Disney's A Christmas Carol</h4>#}
        {#                <p>&quot;Disney's A Christmas Carol,&quot; a multi-sensory thrill ride re-envisioned by Academy Award&reg;-winning#}
        {#                    filmmaker Robert Zemeckis, captures... </p>#}
        {#                <a href="#">Read more</a></div>#}
        {#            <div class="content">#}
        {#                <p class="date">11.04.09</p>#}
        {#                <h4>Where the Wild Things Are</h4>#}
        {#                <p>Innovative director Spike Jonze collaborates with celebrated author Maurice Sendak to bring one of#}
        {#                    the most beloved books of all time to the big screen in &quot;Where the Wild Things#}
        {#                    Are,&quot;...</p>#}
        {#                <a href="#">Read more</a></div>#}
        {#            <div class="content">#}
        {#                <p class="date">10.04.09</p>#}
        {#                <h4>The Box</h4>#}
        {#                <p>Norma and Arthur Lewis are a suburban couple with a young child who receive an anonymous gift bearing#}
        {#                    fatal and irrevocable consequences.</p>#}
        {#                <a href="#">Read more</a></div>#}
        {#        </div>#}
        {#        <div id="coming">#}
        {#            <div class="head">#}
        {#                <h3>COMING SOON<strong>!</strong></h3>#}
        {#                <p class="text-right"><a href="#">See all</a></p>#}
        {#            </div>#}
        {#            <div class="content">#}
        {#                <h4>The Princess and the Frog </h4>#}
        {#                <a href="#"><img src="{% static 'css/images/coming-soon1.jpg' %}" alt=""/></a>#}
        {#                <p>Walt Disney Animation Studios presents the musical &quot;The Princess and the Frog,&quot; an animated#}
        {#                    comedy set in the great city of New Orleans...</p>#}
        {#                <a href="#">Read more</a></div>#}
        {#            <div class="cl">&nbsp;</div>#}
        {#            <div class="content">#}
        {#                <h4>The Princess and the Frog </h4>#}
        {#                <a href="#"><img src="{% static 'css/images/coming-soon2.jpg' %}" alt=""/></a>#}
        {#                <p>Walt Disney Animation Studios presents the musical &quot;The Princess and the Frog,&quot; an animated#}
        {#                    comedy set in the great city of New Orleans...</p>#}
        {#                <a href="#">Read more</a></div>#}
        {#        </div>#}
        {#        <div class="cl">&nbsp;</div>#}
    </div>

{% endblock %}